# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true">

In [19]:
# kernels

In [18]:
# hotkey

In [2]:
# comment

In [ ]:
# markdown

This is python course!

$$ \alpha = \beta = \frac{-\alpha}{\sqrt{}\beta} $$

# <center> Basic

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [4]:
2 + 4

6

In [5]:
6 - 4

2

In [9]:
5 * 3

15

In [10]:
5 / 3

1.6666666666666667

In [11]:
5 % 3

2

In [13]:
5 // 3

1

In [14]:
5 ** 3

125

In [15]:
5 + (4 - 3 * 2)**3 + 1

-2

In [16]:
a = 5 + (4 - 3 * 2)**3 + 1

In [17]:
a

-2

In [18]:
a + 2

0

In [19]:
a

-2

In [26]:
a = 100
a = 20
a = a * 2
a = a - 15
#a = 10
a

25

In [29]:
x = 2
y = 6
z = 5

In [32]:
print(x*y)
print(x - 7)

12
-5

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [33]:
x = 2
y = 6

In [37]:
print(x==y)
print(2==6)
print(x==2)
print(y!=x)

False
False
True
True

In [40]:
print(x>y)
print(x>2)
print(x>=2)

False
False
True

In [42]:
x > 1 and y < 10

True

In [67]:
x > 1 and y > 10

False

In [68]:
x > 1 or y <1

True

In [69]:
1 < x <= 2

True

In [48]:
x

2

In [66]:
print(x)

2

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [70]:
type

type

In [75]:
print(type('Economics'))
print(type(1))
print(type(1.3))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [76]:
x = 1.3
type(x)

float

In [78]:
int(x) * 2

2

In [80]:
str(1) * 2

'11'

In [81]:
a = "python course"
print(a)

python course

In [82]:
a.capitalize()

'Python course'

In [85]:
#"economics'

In [83]:
s1 = 'Hi, this is a python course.'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is a python course.
It's good to see you here!

In [86]:
s1.count('i')

3

In [88]:
s1.find('h')

5

In [89]:
s1.find('P')

-1

In [90]:
s1.find('i')

1

In [91]:
s2.upper()
# lower

"IT'S GOOD TO SEE YOU HERE!"

In [92]:
s2

"It's good to see you here!"

In [93]:
s3 = s2.upper()
s3

"IT'S GOOD TO SEE YOU HERE!"

In [94]:
s1

'Hi, this is a python course.'

In [96]:
s1.replace('h', 'M')

'Hi, tMis is a pytMon course.'

In [97]:
s1.split(',')

['Hi', ' this is a python course.']

In [98]:
s1.split(' ')

['Hi,', 'this', 'is', 'a', 'python', 'course.']

In [99]:
s1 = 'aaa'
s2 = 'bbb'

In [100]:
s1 * 2

'aaaaaa'

In [102]:
s1 + str(2)

'aaa2'

In [104]:
print(s1 + s2)

aaabbb

In [105]:
'''
this is python course in UT!
'''

'\nthis is python course in UT!\n'

## List

In [110]:
print(type([]))
print(type([1]))

list

In [112]:
(type('econ'))
(type([1]))

list

In [109]:
x = [1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
x[4]

5

In [116]:
x[-3]

8

In [117]:
x[3:6]

[4, 5, 6]

In [118]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [119]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
x[:-4]

[1, 2, 3, 4, 5, 6]

In [122]:
x[1:7]

[2, 3, 4, 5, 6, 7]

In [124]:
# [<begin>:<end>:<step>]
x[1:7:2]

[2, 4, 6]

In [125]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [126]:
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [128]:
2.5 + 4

6.5

In [130]:
x + [4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [131]:
x = [1,2,3]
x

[1, 2, 3]

In [132]:
x.append(5)

In [133]:
x

[1, 2, 3, 5]

In [134]:
x.clear()

In [135]:
x

[]

In [136]:
# remove
# pop

In [137]:
x = [1,2,3,4,5,6]
x

[1, 2, 3, 4, 5, 6]

In [138]:
x.remove(2) # number
x

[1, 3, 4, 5, 6]

In [139]:
x.pop(2)   # index

4

In [140]:
x

[1, 3, 5, 6]

In [143]:
x.reverse()
x

[6, 5, 3, 1]

In [144]:
x = [1,2,3,4,'Python']

In [145]:
x

[1, 2, 3, 4, 'Python']

In [146]:
x.remove('Python')
x

[1, 2, 3, 4]

## Dictionary

In [147]:
type({})

dict

In [ ]:
# dictionary 
# { : , : , : }

In [148]:
score = {'math':19 , 'lit':18.5 , 'econ':20}
print(score)

{'math': 19, 'lit': 18.5, 'econ': 20}

In [149]:
type(score)

dict

In [150]:
score['math']

19

In [151]:
score.keys()

dict_keys(['math', 'lit', 'econ'])

In [152]:
score.values()

dict_values([19, 18.5, 20])

#### Other type

In [1]:
#tuple
#set

In [153]:
v = (1,2,3,4)
v

(1, 2, 3, 4)

In [154]:
type(v)

tuple

In [155]:
v[2]

3

In [156]:
v[2] = 3

TypeError: 'tuple' object does not support item assignment

In [157]:
x = [1,2,3,4]
x

[1, 2, 3, 4]

In [158]:
x[3]

4

In [159]:
x[3] = 5

In [161]:
x

[1, 2, 3, 5]

### Exercise

# Exercise

In [4]:
a = float(input("Enter your number: "))

Enter your number: 34

In [5]:
a

34.0

In [6]:
type(a)

float